@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(25, 46, 58);
}

.container-cabeçalho {
    display: flex;
    justify-content: space-around;
    align-items: center; /* CENTRALIZANDO O CABEÇALHO*/
    margin-top: 3rem;
    width: 100%;
}

.logo {
    display: flex; /* para fixar logo e nome um ao lado do outro*/
    align-items: center; /* CENTRALIZANDO A LOGO*/
}

.logo img{
    width: 40px; /* alterando a largura da logo em 40px*/
    height: auto; /* altura se adaptando a largura */
}

.logo h1{
    color: white;
    font-size: 1.55rem;
    font-weight: 700;
    margin-left: 0.8rem; /* para afastar o texto " DANVA " da logo */
}

ul {
    display: flex;
    list-style: none; /* remover o style da lista */
    gap: 5rem; /* afastando o menu */
}

ul li a {
    text-decoration: none; /* removendo a decoração dos links */
    color: white;
    cursor: pointer;
}

ul li a:hover {
    color: #5bacdf;
}

.btn {
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
}

.btn:hover{
    color: white;
    background-color: #034063;
}

.meio {
    display: flex;
    max-width: 100%; /* para facilitar a compreção no responsivo */
    margin-top: 5rem; /* para afastar o texto do topo */
    justify-content: space-around; /* para dar um espaçamento entre a div direita e esquerda */
    align-items: center;
    flex-wrap: wrap; /* para quando ela contrair ela quebrar */
}

.direita img {
    max-width: 100%;
    width: 700px;
    height: auto;
}

.esquerda {
    max-width: 100%;
}

.title h1 {
    font-size: 50px;
    color: #ccc;
}

 p {
    color: #ccc;
    line-height: 2.5rem;
}

button {
    color: white;
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #034063;
}

aside {
    display: none;
}

footer {
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}
footer a:hover{
    padding: 5px 3px;
    color: white;
    background-color: #034063;
    border-radius: 0.5rem;
    
}

/* deixando o site responsivo */

@media screen and (max-width: 740px) {
    ul{
        display: none;
    }

    .links {
        display: block;
    }

    .logo {
        margin-right: 15rem;
    }

    aside {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        overflow: hidden;
    }

    #barra-menu{
        background-color: #0b94e4;
        width: 0px;
        height: 100vh;
        transition: 0.3s all;
    }

    .icon-menu ion-icon {
        width: 45px;
        height: 45px;
        margin-right: 1.5rem; /* afasta o icone para a esquerda */
        margin-top: 2rem;
        color: white
    }

    #barra-menu ul {
        align-items: center;
        text-align: center;
        padding: 5rem;
        line-height: 5rem;
    }

    #barra-menu ul li a {
        color: #011927;
        text-decoration: none;
        font-size: 1rem;
        width: 100%;
    }

    #barra-menu ul li a:hover{
        padding: 8px;
        border-radius: 15px;
        background-color: #5bacdf;
    }

    .c-icon {
        margin-top: 50%;
        display: flex;
        justify-content: center;
        gap: 15px; /* separa um icone do outro */
        overflow: hidden;
    }

    .c-icon span {
        color: white;
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 580px) {
    .title h1 {
        font-size: 2.2rem;
        margin-left: 1.5rem;
    }
    .esquerda p {
        font-size: 1rem;
        margin-left: 1.5rem;
        width: 450px;
    }
    
    button{
        margin-left: 1.5rem;
    }

    .direita img {
        max-width: 100%;
        width: 450px;
        margin-top: 4.5rem;
        height: auto;
    }
}

@media screen and (max-width: 440px) {
    .direita img {
        margin-left: 1.2rem;
    }

    .esquerda p {
        width: 300px;
    }
}